{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
<form method="post" action='/puppies' class="form-inline">
  <div class="form-group">
    <label>Dog Name</label>
    <input type="text" class="form-control" name="name" placeholder="Dog Name">
  </div>
  <div class="form-group">
    <label>Dog Age</label>
    <input type="text" class="form-control" name="age" placeholder="Dog Age">
  </div>
  <button type="submit" class="btn btn-default">Create Dog</button>
</form>
  </div>

{% endblock %}
